@import url("https://fonts.googleaps.com/css2?family=Archivo:wght@980&display=swap");
@import url("https://fonts.googleaps.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleaps.com/css2?family=Rubik+glitch&display=swap");

:root{
    --primary-color: #cf0f0f;
    --primary-color-contrast: #ffffff;
    --field-background-color: #000;
}

.light-theme{
    --page-background: linear-gradient(
        180deg,
        #ffffff 0%,
        #ffffff 65%,
        rgba(255, 255, 255, 0.75)
    );
    --header-backgroud-color: #e3e3e3;
    --highlight-color: #000000;
    --featured-font-family: "Archivo", sans-serif;
    
}
